

@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto&display=swap');
        @import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
            h1{font-size:30px;
               font-family:"Monofett";
               color:white;
               background:pink;
            }
            h2{font-size:30px;
                font-family:"Monoton";
                 color:white;
               background:rgb(10,10,100);
            }
            h3{
                font-size:40px;
                font-family:"Great Vibes";
                 color:Blue;
                background-color:rgb(125,125,125);
            }
            .normal{
                font-weight: normal;
            }
            .thick{ font-weight:bold;}
            .thicker{ font-weight:800;}