/* Write your CSS here */
@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto&display=swap');
.Forblock{
          background-color:white;
         width:30%;
       display:inline-block;
      margin-right:5%;
      border-radius:20px;
      }
      .Title{
        color:Dodgerblue;
      }
      .subtitle{
        font-family:"Roboto";
      }
      .Forblock3{
        border-radius:20px;
          background-color:white;
         width:30%;
       display:inline-block;
      }
      .forpaddingblocks{
        padding-left:10px;
      }
      .my{
        font-weight:normal;
      }
      .border{
         border-bottom:2px solid Dodgerblue;
      }
      body{
        background-color:lightgrey;
      }
    