/* Write your CSS here */
@import url('https://fonts.googleapis.com/css?family=Monofett|Monoton|Oswald|Roboto&display=swap');
.d1{
          background-color:white;
         width:31%;
       display:inline-block;
      margin-right: 3.5%;
      border-radius:20px;
      }
      .h1{
        color:Dodgerblue;
      }
      .s1{
        font-family:"Roboto";
      }
      .d3{
        border-radius:20px;
          background-color:white;
         width:31%;
       display:inline-block;
      }
      .p1{
        padding-left:10px;
      }
    