
.gmaillogo{
      height:30px;
      width:40px;
    }
    .getgmail{
      text-align:right;
    }
    .heainggmail{
      font-size:25px;
    }
    .background{
      background-color:whitesmoke;
    }
    .center{
      text-align:center;
    }
    .landing-page{
      height:400px;
      width:400px;
    }
    .getgmail2{
      text-align:center;
      margin-top:10px;
      margin-bottom:30px;
    }
    .playstore{
      height:40px;
      width:140px;
      text-align:right;
    }
    .appstore{
      height:40px;
      width:140px;
      text-align:left;
  
    }
    .ex-image{
      height:200px;
      width:400px;
    }
    .instantly-mobile{
      height:400px;
      width:80%;
      text-align:center;
    }
    .marginforcontainer
    {
      margin-bottom:40px;
    }
   .gmaillogo2{
     height:50px;
      width:60px;
  
   }
   .google{
     color:grey;
     padding-left:20px;
   }
   .foot{
     display:inline-block;
     color:grey;
     margin-right:1%;
   }
   .paddingforfooter{
     padding-top:30px;
     padding-bottom:40px;
   }
   .dropdownbox{
     margin-left:30%;
   }
   .headings{
     padding-top:30px;
     padding-bottom:10px;
   }
   .mediumtopbar{
     display:inline-block;
     margin-right:3%;
   }
   .createanaccount{
     display:inline-block;
   }
   .landing-desktop{
     width:100%;
     height:300px;
   }
   .ex-desktop{
     width:100%;
     height:300px;
   }
   .organised-desktop{
     width:100%;
     height:100px;
     margin-top:10%;
     margin-bottom:10%;
   }
   .marginimage{
     margin-right:10%;
   }
   .takeaction-desktop{
     width:100%;
     height:100px;
   }
   .suspicious-desktop{
     width:100%;
     height:200px;
   }
   .suspiciouspadding{
     padding-top:10%;
     padding-bottom:10%;
   }
   .marginfordropdown{
     margin-right:5%;
   }
   .backgroundfooter{
     background:whitesmoke;
     padding-top:6%;
     padding-bottom:6%;
   }
   .paddingfortakeaction{
     padding-top:10%;
     padding-bottom:10%;
   }
   .marginforneverdrop{
     
       margin-right:5%;
       padding-left:60px;
       padding-right:60px;
   }
   .marginforstayorganised{
       margin-right:5%;
       margin-left:5%;
       padding-left:60px;
       padding-right:60px;
   }
   .whitecolor{
       background:white;
   }