/* Write your CSS here */
     #h1{
        display:block;width:100%;
        height:70px;
            margin-bottom:10px;
        background:darkslateblue;
      }
      .p1{
        display:inline-block;
        height:70px;
        width:49%;
        margin-right:2%;
        margin-top:10px;
            margin-bottom:10px;
        background-color:lightblue;
      }
       .sb{
        display:inline-block;
        height:70px;
        width:49%;
        margin-top:10px;
        margin-bottom:10px;
        background-color:lightblue;
      }
      .p2{
        display:inline-block;
        width:32%;
        height:60px;
      margin-bottom:10px;
        background:darkslateblue;
        margin-right:2%;
      }
      .lb{
         display:inline-block;
        width:32%;
        height:60px;
        margin-bottom:10px;
        background:darkslateblue;
      }
     
      .p3{
         display:inline-block;
        height:50px;
        width:23.5%;
        margin-right:2%;
        margin-bottom:10px;
        background-color:lightblue;
      }
      .sb1{
         display:inline-block;
        height:50px;
        width:23.5%;
        margin-bottom:10px;
        background-color:lightblue;
      }
      .p4{
           display:inline-block;
        width:6.5%;
        height:50px;
        background:darkslateblue;
        margin-right:2%;
      }
      .sb2{
            display:inline-block;
        width:6.5%;
        height:50px;
        background:darkslateblue;
      }
     