@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
      .companyname{
        text-align:center;
        font-size:25px;
      }
      .signup{
        display:inline-block;
        padding:10px;
       color:blue;
       border:1px solid blue;
       border-radius:2px;
      }
      .center{
        text-align:center;
      }
      .pricing{
        font-size:30px;
        font-weight:normal;
        font-family: 'Open Sans Condensed' ;
      }
      .smallparagraph{
        font-size:15px;
        text-align:center;
      }
      .symbols{
        font-size:30px;
      }
      .mo{
        color:grey;
        font-size:20px;
      }
      .cardmargin{
        margin-bottom:0px;

      }
      .alignment{
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;
      }
      .bootstrap{
        color:white;
        padding-left:20px;
        padding-right:20px;
        background:indigo;
        display:inline-block;
        font-size:50px;
    border-radius:5px;
      }
      .bootstraplarge{
        color:white;
        padding-left:10px;
        padding-right:10px;
        background:indigo;
        display:inline-block;
        font-size:30px;
    border-radius:5px;
      }
      .mediumalign{
        margin-right:20px;
        display:inline-block;
      }
      .alignl{
        text-align:left;
        margin-left:0px;
        
      }
      .alignr{
        text-align:right;
        margin-right:5px;
        
      }
      .pricinglarge{
        font-size:60px;
        font-weight:normal;
        font-family: 'Open Sans Condensed' ;

      }
      .topdisplay{
        display:inline-block;
        margin-right:10px;
      }
      .color{
        background:grey;
      }
      .topdisplay1{
        display:inline-block;
        margin-right:26%;
      }
      .signupl{
        display:inline-block;
        padding-bottom:5px;
       color:blue;
       border:1px solid blue;
       border-radius:2px;
    
      }
      .total{
        margin-left:10%;
        margin-right:10%;
      }
      .features{
        margin-left:24%;
        margin-right:10px;
        display:inline-block;
      }
      .color{
        background:whitesmoke;
      }
